
h1 Isi Data Siswa Baru

form(method="POST", action="/siswa")
    p Nim
        input#nim(type"text", name="nim")
    p Nama
        input#nama(type"text", name="nama")
    p Email
        input#email(type"text", name="email")
    p Umur
        input#umur(type"text", name="umur")
    p: button(type="submit") Tambah    
     
        